<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:p="http://www.springframework.org/schema/p"
		xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
		
		<!-- This is our first bean -->
		
		<bean class="com.springcore.springcoreFirstProject.Student" name="student1">
			
			<property name="studentId">
				<value>
					114
				</value>
			</property>
			
			<property name="studentName">
				<value>
					Anurag
				</value>
			</property>
			
			<property name="studentAddress">
				<value>
					Chandannagar
				</value>
			</property>
			
		</bean>
		
		
		
		
		<!-- This is our second bean -->
		<!-- Made by using value attribute -->
		
		<bean class="com.springcore.springcoreFirstProject.Student" name="student2">
			
			<property name="studentId" value="115"/>
				
			
			<property name="studentName" value="Anuradha"/>
				
			
			<property name="studentAddress" value="London"/>
			
		</bean>
		
		
		<!-- This is our third bean -->
		<!-- Made by using p: schema -->
		
		<bean class="com.springcore.springcoreFirstProject.Student" name="student3" p:studentId="70" p:studentName="Priyanshu" p:studentAddress="Berlin"/>
			
		

</beans>